@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ 
    var root = Model.Content.AncestorOrSelf(1);
    var news = root.Descendants("pageNews").Take(3);
}
<div class="col-md-12">
    <h3>
        <a href="/news/">News / Updates
            <i class="fa fa-angle-right"></i>
        </a>
    </h3>
</div>	

@if (news.Any())
{
    foreach (var item in news)
    {

        if (item.HasValue("image"))
        {
            <div class="col-md-4 col-sm-6">
                <a href="@item.Url">
                    <img class="img-responsive" src="@Umbraco.TypedMedia(item.GetPropertyValue("image")).Url" />
                    <h4>@item.Name</h4>
                    <p>@(Umbraco.Truncate(item.GetPropertyValue("mainRTE").ToString(), 200, true))</p>
                </a>
            </div>

        }

    }
}