@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
    var partners = Model.Content.Descendants(2).First().Children.Where(x => x.Name == "Partners");
}
<div class="col-md-12">
    <h3>
        <a href="/partners/">Partners
            <i class="fa fa-angle-right"></i>
        </a>
    </h3>
</div>	

@if (partners.Any())
{
    foreach (var items in partners)
    {
        foreach (var item in items.Children)
        {
            if (item.HasValue("image"))
            {
            <div class="col-md-3 col-xs-6">
                <a href="@item.Url">
                    <img class="img-responsive" src="@Umbraco.TypedMedia(item.GetPropertyValue("image")).Url" />
                    <h4 class="hidden-xs">@item.Name</h4>
                    @*<p>@(Umbraco.Truncate(item.GetPropertyValue("mainRTE").ToString(), 200, true))</p>*@
                </a>
            </div>
            }
        }
    }
}