@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
    var part = Model.Content.Descendants(2).First().Children.Where(x => x.Name == "Partners");
}
<div class="col-md-12">
    <h3>
        <a href="/partners/">Partners
            <i class="fa fa-angle-right"></i>
        </a>
    </h3>
</div>	

@if (part.Any())
{
    foreach (var article in part)
    {
        foreach (var art in article.Children.Take(3))
        {
            if (art.HasValue("image"))
            {
            <div class="col-md-4 col-sm-6">
                <a href="@art.Url">
                    <img class="img-responsive" src="@Umbraco.TypedMedia(art.GetPropertyValue("image")).Url" />
                    <h4>@art.Name</h4>
                    <p>@(Umbraco.Truncate(art.GetPropertyValue("mainRTE").ToString(), 200, true))</p>
                </a>
            </div>

            }
        }
    }
}