@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "master.cshtml";
}
@Umbraco.Field("heading")
@Umbraco.Field("mainRTE")
<img src="@Umbraco.TypedMedia(Model.Content.GetPropertyValue("image")).Url" />
<div class="row">
    <div class="col-md-12">
        @{Html.RenderPartial("Widget Home News Articles");}
    </div>
    <div class="col-md-12">
        @{Html.RenderPartial("Widget Home Partners");}
    </div>
    <div class="col-md-12">
        @{Html.RenderPartial("Widget Home News Articles");}
    </div>
</div>