@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "master.cshtml";
}
@Umbraco.Field("heading")
@Umbraco.Field("mainRTE")
<img src="@Umbraco.TypedMedia(Model.Content.GetPropertyValue("image")).Url" />
<div class="row">
    <div class="col-md-4" style="height:100px;border:solid 1px black">

    </div>
    <div class="col-md-4" style="height:100px;border:solid 1px black">

    </div>
    <div class="col-md-4" style="height:100px;border:solid 1px black">

    </div>
</div>
<div class="row">
    <div class="col-md-4" style="height:100px;border:solid 1px black">
    </div>
    <div class="col-md-4" style="height:100px;border:solid 1px black">

    </div>
    <div class="col-md-4" style="height:100px;border:solid 1px black">

    </div>
</div>