@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "master.cshtml";
}
@{ var eventImage = Model.Content.GetPropertyValue("image");}
@{Html.RenderPartial("Breadcrumb");}
<div class="row">
    <div class="col-md-4">
        @{Html.RenderPartial("Siblings");}
    </div>
    <div class="col-md-8">
        <div class="col-md-12">
            @if(Model.Content.HasValue("image")){
                <img class="img-responsive" src="@Umbraco.TypedMedia(Model.Content.GetPropertyValue("image")).Url" />
            }
            <h1>@Umbraco.Field("heading")</h1>
        </div>
        <div class="col-md-12">
			@Umbraco.Field("mainRTE")
        </div>
    </div>
</div>